// Place all the styles related to the wellcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.tasklist {
    padding-top: 2em;
}

.details{
    margin-top: 2em !important;
    margin-left: 5em !important;
}
.grid{
    margin-top: 30px;
}
.task.todo{
    background: lightgoldenrodyellow !important;
}
.task.done label {
    text-decoration: line-through;
}
.task.done{
    background: lightseagreen !important;
}
.description{
    color: rgb(57, 65, 73);
    font-style: italic;
    padding: 5px;
}

